---
const {content, styleNotes} = Astro.props; 
let link_detected = false
let before_link = ""
let full_link = ""

// only used after final link found, wiped each time before that
let after_link = ""

let everything = []

let link_elements = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz./1234567890-"

for (let i = 0; i < content.length; i++) {
    let first_8_chars = content.slice(i, i+8)
    full_link = ""
    if (styleNotes != "link" && first_8_chars == "https://") {
        after_link = ""
        link_detected = true
        full_link = first_8_chars
        let j = 8+i
        while (j < content.length && link_elements.includes(content[j])) {
            full_link += content[j]
            j += 1
        }
        // gets every character left and puts in after_link
        after_link = content.slice(j, content.length)
        
        // store results in arrays, + "" stops wiping the string from wiping their instance in the everything array
        everything.push([before_link + "", full_link + ""])
        
        before_link = ""
        full_link = ""
        
        // skips past rest of link
        i = j-1
    } else {
        before_link += content[i]
    }
}
---

<div id="container" class={styleNotes}>
    <style>
        div {
            border: 2px solid lightgray; 
            display: block; 
            margin: -1px; 
            box-sizing: border-box; 
        }
        p, a {
            margin: 0.5rem; 
            position: relative; 
            display: block; 
            overflow-wrap: anywhere; 
            white-space: pre-line; 
        }
        p a {
            margin: 0; 
            display: inline; 
        }
        div.center p {
            justify-content: center; 
        }
        .label {
            background-color: rgb(240, 240, 240); 
        }
        div.numbering p {
            justify-content: center; 
            color: rgb(86, 86, 86); 
        }
        .highlight {
            background-color: rgb(255, 255, 201); 
        }
    </style>
    <!--used copilot help to fix syntax of expression-->
    {styleNotes === 'email' ? (
        <a href="mailto:charmwoodrum@gmail.com">{content}</a>
    ) : styleNotes === 'link' ? (
        <a href={content} target="_blank">{content}</a>
    ) : link_detected ? (
        <p>
            {everything.map(function(one_link){
                return <>
                {one_link[0]}
                <a style="display: inline-block;" target="_blank" href={one_link[1]}>{one_link[1]}</a>
                </>
            })}
            {after_link}
        </p>
    ) : (
        <p>{content}</p>
    )}
</div>