---
const {content, styleNotes} = Astro.props; 
---

<div id="container" class={styleNotes}>
    <style>
        div {
            border: 2px solid lightgray; 
            display: block; 
            margin: -1px; 
            box-sizing: border-box; 
        }
        p, a {
            margin: 0.5rem; 
            position: relative; 
            display: block; 
            overflow-wrap: anywhere; 
            white-space: pre-line; 
        }
        div.center p {
            justify-content: center; 
        }
        .label {
            background-color: rgb(240, 240, 240); 
        }
        div.numbering p {
            justify-content: center; 
            color: rgb(86, 86, 86); 
        }
    </style>
    <!--used copilot help to fix syntax of expression-->
    {styleNotes === 'email' ? (
        <a href="mailto:charmwoodrum@gmail.com">{content}</a>
    ) : styleNotes === 'link' ? (
        <a href={content} target="_blank">{content}</a>
    ) : (
        <p>{content}</p>
    )}
</div>